<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %} - mohsen ranjbar helan</title>
	<meta charset="utf8">
	<link rel="stylesheet" type="text/css" href="{{ host }}app/template/style/main-style.css">
	<link rel="stylesheet" type="text/css" href="{{ host }}{% block style %}{% endblock %}">
</head>
<body>
  <div id="top-linebar">
    <div id="top-wrapper">
        	<span id="logo"></span>
        	<span id="search">
        		<form type="get" action="{{ host }}search/posts/">
        			<input type="text" placeholder="جستجوی عناوین پست ها" name="query"></input>
        		</form>
        	</span>
    </div><!-- top wrapper -->
  </div><!-- top line bar -->
  <div id="main">
  {%  block body %}
  {% endblock %}
  </div> <!-- main -->

  <div id="bottom-linebar">
  	<p>طراحی و پیاده سازی محسن رنجبر هلان</p>
  </div><!-- bottom line bar -->
</body>
</html>