<!DOCTYPE html>
<html>
<head>
	<title>{{ post_title }}</title>
	<meta charset="utf8">
	<link rel="stylesheet" type="text/css" href="{{-  host -}}app/template/style/post-page-style.css">
</head>
<body>
  <div id="top-linebar">
    <div id="top-wrapper">
      <span>
        <p>نوشته های محسن رنجبر هلان
        <br>
        طراح و برنامه نویس وب
        </p>
      </span>
    </div><!-- top wrapper -->
  </div><!-- top line bar -->
  <div id="main">

    <div class="post-wrapper">

     <div class="post-header">
       <h1>{{ post_title }}</h1>
    	  <span>{{ post_date }}</span>
    	</div><!-- post-header -->

    	<div class="post-text">
    	{% for key, value in the_arr %}
    	  <span>{{ key }}--{{ value }}</span><br>
    	{% endfor %}
    	</div><!-- post-text -->

    </div><!-- post-wrapper -->

  </div><!-- main container -->
  <div id="bottom-linebar">
  	<p>طراحی و پیاده سازی محسن رنجبر هلان</p>
  </div><!-- bottom line bar -->
</body>
</html>