/* main container */
div#main {
	width:100%;
	font-size:2rem;
	padding-top:3rem;
}
div.post-wrapper{
	width:120rem;
	margin:0 auto;
	border-top:.2rem solid red;
	padding-right:2rem;
	padding-left:2rem;
	margin-bottom:3rem;
	position:relative;
}
div.post-wrapper *{
	display:block;
	overflow:auto;
}
#main div:first-child{
	border-top:0 !important;
}
div.post-wrapper h1{
	line-height:8rem;
}
.post-header > span{
	font-size:2.6rem;
	line-height:3.8rem;
}
div.post-text > p{
	font-size:3.3rem;
	line-height:5rem;
	word-wrap:normal;
}
div.post-wrapper > span{
	position:absolute;
	bottom:0;
	left:0;
	background-color: rgba(255, 255, 255, 0.9);
}
a.continu-link{
	font-size:3rem;
	text-decoration:none;
	color:green;
	display:block;
	width:9rem;
	text-align:center;
}
a.continu-link::after{
	content:"... ادامه";
}
